{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animal Shelter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue-grey darken-2">
                <ul>
                    <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Animal Shelter</a></li>
                </ul>
                <ul class="right">

                    
                    {% if user.is_authenticated %}
                    
          <li><a href="{% url 'animals_create' %}">Add an Animal</a></li>
          <li><a href="{% url 'animals_index' %}">View All My Animals</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
          
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
  	<footer class="page-footer blue-grey darken-2">
        <div class="col l4 offset-l2 s12"></div>
    <div class="right">All Rights Reserved, &copy; 2021 Animal Shelter &nbsp;</div>
    
    </footer>
</body>
</html>